{
  "openapi": "3.0.0",
  "info": {
    "title": "Standalone - Internal Campaign",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://wso2.extsrv.com/icampaigns/api",
      "variables": {}
    }
  ],
  "paths": {
    "/campaigns": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "/icampaigns/api/campaign",
        "operationId": "/icampaigns/api/campaign",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Misc"
        ],
        "summary": "/icampaigns/api/campaigns",
        "operationId": "/icampaigns/api/campaigns",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/~1icampaigns~1api~1campaignsrequest"
              },
              "example": {
                "enabled": true,
                "campaignDataParams": [
                  {
                    "device": "INDIGO_WEB",
                    "lang": "en",
                    "url": "https://www.google.com/",
                    "version": null,
                    "bannerText": null
                  },
                  {
                    "device": "ANDROID_TABLET",
                    "lang": "en",
                    "url": "https://www.google.com/",
                    "version": null,
                    "bannerText": null
                  },
                  {
                    "device": "WEB",
                    "lang": "en",
                    "url": "https://www.google.com/",
                    "version": null,
                    "bannerText": null
                  },
                  {
                    "device": "INDIGO_MOBILE",
                    "lang": "en",
                    "url": "https://www.google.com/",
                    "version": null,
                    "bannerText": null
                  },
                  {
                    "device": "ANDROID_MOBILE",
                    "lang": "en",
                    "url": "https://www.google.com/",
                    "version": null,
                    "bannerText": null
                  },
                  {
                    "device": "IOS_TABLET",
                    "lang": "en",
                    "url": "https://www.google.com/",
                    "version": null,
                    "bannerText": null
                  },
                  {
                    "device": "IOS_MOBILE",
                    "lang": "en",
                    "url": "https://www.google.com/",
                    "version": null,
                    "bannerText": null
                  }
                ],
                "type": "ALL",
                "action": {
                  "type": "EXTERNAL",
                  "url": "https://google.com/"
                },
                "opacity": 50.0,
                "duration": 30000,
                "displayCount": 2,
                "displayInterval": 1000,
                "delayedDisplay": 0,
                "width": 0,
                "height": 0,
                "marginHeight": 0,
                "closeButtonDelay": 0,
                "closeButton": true,
                "firstLogin": false,
                "campaignName": "test",
                "campaignExpiredDate": 1587970546197,
                "campaignStartDate": 1587970546200,
                "priority": 4,
                "campaignContentType": "IMAGE"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/campaigns/1152": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "/icampaigns/api/campaigns/{id}",
        "operationId": "/icampaigns/api/campaigns/{id}",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/x-www-form-urlencoded"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/campaigns/": {
      "put": {
        "tags": [
          "Misc"
        ],
        "summary": "/icampaigns/api/campaigns/{campaign_id_image}",
        "operationId": "/icampaigns/api/campaigns/{campaign_id_image}",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/~1icampaigns~1api~1campaignsrequest"
              },
              "example": {
                "enabled": true,
                "campaignDataParams": [
                  {
                    "device": "INDIGO_WEB",
                    "lang": "en",
                    "url": "https://www.google.com/",
                    "version": null,
                    "bannerText": null
                  },
                  {
                    "device": "ANDROID_TABLET",
                    "lang": "en",
                    "url": "https://www.google.com/",
                    "version": null,
                    "bannerText": null
                  },
                  {
                    "device": "WEB",
                    "lang": "en",
                    "url": "https://www.google.com/",
                    "version": null,
                    "bannerText": null
                  },
                  {
                    "device": "INDIGO_MOBILE",
                    "lang": "en",
                    "url": "https://www.google.com/",
                    "version": null,
                    "bannerText": null
                  },
                  {
                    "device": "ANDROID_MOBILE",
                    "lang": "en",
                    "url": "https://www.google.com/",
                    "version": null,
                    "bannerText": null
                  },
                  {
                    "device": "IOS_TABLET",
                    "lang": "en",
                    "url": "https://www.google.com/",
                    "version": null,
                    "bannerText": null
                  },
                  {
                    "device": "IOS_MOBILE",
                    "lang": "en",
                    "url": "https://www.google.com/",
                    "version": null,
                    "bannerText": null
                  }
                ],
                "type": "ALL",
                "action": {
                  "type": "EXTERNAL",
                  "url": "https://google.com/"
                },
                "opacity": 50.0,
                "duration": 30000,
                "displayCount": 3,
                "displayInterval": 1000,
                "delayedDisplay": 0,
                "width": 0,
                "height": 0,
                "marginHeight": 0,
                "closeButtonDelay": 0,
                "closeButton": true,
                "firstLogin": false,
                "campaignName": "test",
                "campaignExpiredDate": 1587970546197,
                "campaignStartDate": 1587970546200,
                "priority": 4,
                "campaignContentType": "IMAGE"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Misc"
        ],
        "summary": "/icampaigns/api/campaigns/{id_campaign_image}",
        "operationId": "/icampaigns/api/campaigns/{id_campaign_image}",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/campaigns/963/customers": {
      "get": {
        "tags": [
          "Misc"
        ],
        "summary": "/icampaigns/api/campaigns/{capaingId}/customers",
        "operationId": "/icampaigns/api/campaigns/{capaingId}/customers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Misc"
        ],
        "summary": "/icampaigns/api/campaigns/{capaingId}/customers",
        "operationId": "Put/icampaigns/api/campaigns/{capaingId}/customers",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": ""
              },
              "example": [
                "21599653",
                "21606775"
              ]
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/campaigns/963/delete/customers": {
      "put": {
        "tags": [
          "Misc"
        ],
        "summary": "/icampaigns/api/campaigns/{capaingId}/delete/customers",
        "operationId": "/icampaigns/api/campaigns/{capaingId}/delete/customers",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": ""
              },
              "example": [
                "21599653",
                "21606775"
              ]
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "/icampaigns/api/campaignsrequest": {
        "title": "/icampaigns/api/campaignsrequest",
        "required": [
          "enabled",
          "campaignDataParams",
          "type",
          "action",
          "opacity",
          "duration",
          "displayCount",
          "displayInterval",
          "delayedDisplay",
          "width",
          "height",
          "marginHeight",
          "closeButtonDelay",
          "closeButton",
          "firstLogin",
          "campaignName",
          "campaignExpiredDate",
          "campaignStartDate",
          "priority",
          "campaignContentType"
        ],
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "campaignDataParams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignDataParam"
            },
            "description": ""
          },
          "type": {
            "type": "string"
          },
          "action": {
            "$ref": "#/components/schemas/Action"
          },
          "opacity": {
            "type": "number"
          },
          "duration": {
            "type": "integer",
            "format": "int32"
          },
          "displayCount": {
            "type": "integer",
            "format": "int32"
          },
          "displayInterval": {
            "type": "integer",
            "format": "int32"
          },
          "delayedDisplay": {
            "type": "integer",
            "format": "int32"
          },
          "width": {
            "type": "integer",
            "format": "int32"
          },
          "height": {
            "type": "integer",
            "format": "int32"
          },
          "marginHeight": {
            "type": "integer",
            "format": "int32"
          },
          "closeButtonDelay": {
            "type": "integer",
            "format": "int32"
          },
          "closeButton": {
            "type": "boolean"
          },
          "firstLogin": {
            "type": "boolean"
          },
          "campaignName": {
            "type": "string"
          },
          "campaignExpiredDate": {
            "type": "integer",
            "format": "int64"
          },
          "campaignStartDate": {
            "type": "integer",
            "format": "int64"
          },
          "priority": {
            "type": "integer",
            "format": "int32"
          },
          "campaignContentType": {
            "type": "string"
          }
        },
        "example": {
          "enabled": true,
          "campaignDataParams": [
            {
              "device": "INDIGO_WEB",
              "lang": "en",
              "url": "https://www.google.com/",
              "version": null,
              "bannerText": null
            },
            {
              "device": "ANDROID_TABLET",
              "lang": "en",
              "url": "https://www.google.com/",
              "version": null,
              "bannerText": null
            },
            {
              "device": "WEB",
              "lang": "en",
              "url": "https://www.google.com/",
              "version": null,
              "bannerText": null
            },
            {
              "device": "INDIGO_MOBILE",
              "lang": "en",
              "url": "https://www.google.com/",
              "version": null,
              "bannerText": null
            },
            {
              "device": "ANDROID_MOBILE",
              "lang": "en",
              "url": "https://www.google.com/",
              "version": null,
              "bannerText": null
            },
            {
              "device": "IOS_TABLET",
              "lang": "en",
              "url": "https://www.google.com/",
              "version": null,
              "bannerText": null
            },
            {
              "device": "IOS_MOBILE",
              "lang": "en",
              "url": "https://www.google.com/",
              "version": null,
              "bannerText": null
            }
          ],
          "type": "ALL",
          "action": {
            "type": "EXTERNAL",
            "url": "https://google.com/"
          },
          "opacity": 50.0,
          "duration": 30000,
          "displayCount": 2,
          "displayInterval": 1000,
          "delayedDisplay": 0,
          "width": 0,
          "height": 0,
          "marginHeight": 0,
          "closeButtonDelay": 0,
          "closeButton": true,
          "firstLogin": false,
          "campaignName": "test",
          "campaignExpiredDate": 1587970546197,
          "campaignStartDate": 1587970546200,
          "priority": 4,
          "campaignContentType": "IMAGE"
        }
      },
      "CampaignDataParam": {
        "title": "CampaignDataParam",
        "required": [
          "device",
          "lang",
          "url",
          "version",
          "bannerText"
        ],
        "type": "object",
        "properties": {
          "device": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "version": {
            "type": "string",
            "nullable": true
          },
          "bannerText": {
            "type": "string",
            "nullable": true
          }
        },
        "example": {
          "device": "INDIGO_WEB",
          "lang": "en",
          "url": "https://www.google.com/",
          "version": null,
          "bannerText": null
        }
      },
      "Action": {
        "title": "Action",
        "required": [
          "type",
          "url"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "example": {
          "type": "EXTERNAL",
          "url": "https://google.com/"
        }
      },
      "/icampaigns/api/campaigns-HTMLRequest": {
        "title": "/icampaigns/api/campaigns-HTMLRequest",
        "required": [
          "enabled",
          "campaignDataParams",
          "type",
          "action",
          "opacity",
          "duration",
          "displayCount",
          "displayInterval",
          "delayedDisplay",
          "width",
          "height",
          "marginHeight",
          "closeButtonDelay",
          "closeButton",
          "firstLogin",
          "campaignName",
          "campaignExpiredDate",
          "campaignStartDate",
          "priority",
          "campaignContentType",
          "expression",
          "allowedFields"
        ],
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "campaignDataParams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignDataParam2"
            },
            "description": ""
          },
          "type": {
            "type": "string"
          },
          "action": {
            "$ref": "#/components/schemas/Action2"
          },
          "opacity": {
            "type": "integer",
            "format": "int32"
          },
          "duration": {
            "type": "integer",
            "format": "int32"
          },
          "displayCount": {
            "type": "integer",
            "format": "int32"
          },
          "displayInterval": {
            "type": "integer",
            "format": "int32"
          },
          "delayedDisplay": {
            "type": "integer",
            "format": "int32"
          },
          "width": {
            "type": "integer",
            "format": "int32"
          },
          "height": {
            "type": "integer",
            "format": "int32"
          },
          "marginHeight": {
            "type": "integer",
            "format": "int32"
          },
          "closeButtonDelay": {
            "type": "integer",
            "format": "int32"
          },
          "closeButton": {
            "type": "boolean"
          },
          "firstLogin": {
            "type": "boolean"
          },
          "campaignName": {
            "type": "string"
          },
          "campaignExpiredDate": {
            "type": "integer",
            "format": "int64"
          },
          "campaignStartDate": {
            "type": "integer",
            "format": "int64"
          },
          "priority": {
            "type": "integer",
            "format": "int32"
          },
          "campaignContentType": {
            "type": "string"
          },
          "expression": {
            "type": "string"
          },
          "allowedFields": {
            "type": "string",
            "nullable": true
          }
        },
        "example": {
          "enabled": true,
          "campaignDataParams": [
            {
              "device": "ANDROID_MOBILE",
              "lang": "en",
              "htmlContent": "<div>Test</div>",
              "url": "https://www.google.com/"
            },
            {
              "device": "ANDROID_TABLET",
              "lang": "en",
              "htmlContent": "<div>Test</div>",
              "url": "https://www.google.com/"
            },
            {
              "device": "IOS_MOBILE",
              "lang": "en",
              "htmlContent": "<div>Test</div>",
              "url": "https://www.google.com/"
            },
            {
              "device": "IOS_TABLET",
              "lang": "en",
              "htmlContent": "<div>Test</div>",
              "url": "https://www.google.com/"
            },
            {
              "device": "INDIGO_MOBILE",
              "lang": "en",
              "htmlContent": "<div>Test</div>",
              "url": "https://www.google.com/"
            },
            {
              "device": "INDIGO_WEB",
              "lang": "en",
              "htmlContent": "<div>Test</div>",
              "url": "https://www.google.com/"
            }
          ],
          "type": "ASSIGNED",
          "action": {
            "type": "EXTERNAL",
            "url": null
          },
          "opacity": 80,
          "duration": 30000,
          "displayCount": 2,
          "displayInterval": 60000,
          "delayedDisplay": 0,
          "width": 0,
          "height": 0,
          "marginHeight": 0,
          "closeButtonDelay": 0,
          "closeButton": true,
          "firstLogin": false,
          "campaignName": "Test_123",
          "campaignExpiredDate": 1588032000000,
          "campaignStartDate": 1587945600000,
          "priority": 5,
          "campaignContentType": "HTML_PAGE",
          "expression": "true",
          "allowedFields": null
        }
      },
      "CampaignDataParam2": {
        "title": "CampaignDataParam2",
        "required": [
          "device",
          "lang",
          "htmlContent",
          "url"
        ],
        "type": "object",
        "properties": {
          "device": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "htmlContent": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "example": {
          "device": "ANDROID_MOBILE",
          "lang": "en",
          "htmlContent": "<div>Test</div>",
          "url": "https://www.google.com/"
        }
      },
      "Action2": {
        "title": "Action2",
        "required": [
          "type",
          "url"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        },
        "example": {
          "type": "EXTERNAL",
          "url": null
        }
      }
    },
    "securitySchemes": {
      "httpBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "httpBearer": []
    }
  ],
  "tags": [
    {
      "name": "Misc",
      "description": ""
    }
  ]
}